#sidenav {
	display: flex;
	flex-direction: column;
	padding: 15px;
}
#app-title {
	font-size: 100%;
	padding: 0 5px;
	white-space: nowrap;
	flex: 1 1 auto;
}
md-card {
	margin: 20px;
	max-width: 650px;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.fab-button[md-fab] {
	bottom: 24px;
	position: absolute;
	right: 24px;
	z-index: 998;
}

/* Extra small devices (portrait phones, less than 34em)*/
@media (max-width: 33.9em) {}

/* Small devices (landscape phones, 34em and up)*/
@media (min-width: 34em) {}

/* Medium devices (tablets, 48em and up)*/
@media (min-width: 48em) {}

/* Large devices (desktops, 62em and up)*/
@media (min-width: 62em) {}

/* Extra large devices (large desktops, 75em and up)*/
@media (min-width: 75em) {}
