<md-toolbar color="primary">
	<button md-icon-button (click)='sidenav.toggle()'>
		<md-icon>menu</md-icon>
	</button>

	<h1 id='app-title'> Think Before Voting </h1>

	<md-input #search placeholder="{{search.value ? '' : '🔍'}}"></md-input>

	<button md-icon-button routerLink='/user/andre'>
		<md-icon>person</md-icon>
	</button>
</md-toolbar>

<md-sidenav-layout>
	<md-sidenav id="sidenav" #sidenav (open)="firstButton.focus()">
		<a md-button routerLink='/answer' #firstButton> Answer </a>
		<a md-button routerLink='/ask'> Ask </a>
		<a md-button routerLink='/candidates'> Candidates </a>
	</md-sidenav>

	<router-outlet></router-outlet>

</md-sidenav-layout>