<md-card>
	<md-card-title> {{ 'HOME.TITLE' | translate }} </md-card-title>

	<md-card-content>
		<button md-button
			(click)='authService.login()'
			[disabled]='authService.authenticated' color='primary'>
			{{ 'HOME.LOGIN' | translate }}
		</button>
		
		<button md-button
			(click)='authService.logout()'
			[disabled]='!authService.authenticated'>
			{{ 'HOME.LOGOUT' | translate }}
		</button>
		
		<p>
			{{ 'APP.LANGUAGE' | translate }}:
			<button md-button (click)='toggleLanguage()'>
				{{ translate.currentLang | uppercase }}
			</button>
		</p>
	</md-card-content>

</md-card>