<md-card>
	<img id="avatar" md-card-sm-image src="{{ user.avatar }}">
	<md-card-title> {{ user.name }} </md-card-title>
	<md-card-subtitle [ngSwitch]='user.me'>
		<p> {{ user.location }} </p>
		<div *ngSwitchCase='true'>
			<a href="#">{{ 'PROFILE.FOLLOWING' | translate }} {{ user.following }}</a>
			&nbsp;&nbsp;♦&nbsp;&nbsp;
			<a href="#">{{ 'PROFILE.FOLLOWERS' | translate }} {{ user.followers }}</a>
		</div>
		<a *ngSwitchCase='false' (click)='user.followed = !user.followed'>
			{{ (user.followed ? 'PROFILE.UNFOLLOW' : 'PROFILE.FOLLOW') | translate }}
		</a>
	</md-card-subtitle>

	<tbv-my-profile *ngIf="user.me" [user]='user'></tbv-my-profile>
	<tbv-other-profile *ngIf="! user.me" [user]='user'></tbv-other-profile>
</md-card>