<md-card>
	<img id="avatar" md-card-sm-image src="client/assets/anyone.png">
	<md-card-title> André Gomes </md-card-title>
	<md-card-subtitle>
		<p> Belo Horizonte, MG, Brazil </p>
		<div id="stats">
			<a href="#">Follows 17</a> ♦
			<a href="#">Followers 12</a>
		</div>
	</md-card-subtitle>

	<md-list dense class="clear">
		<h3 md-subheader> Recent Updates </h3>
		<md-list-item>
			<a href="#" md-line> Justin Trodeau has answered 3 new questions. </a>
		</md-list-item>
		<md-list-item>
			<a href="#" md-line> Ilya Brotzky is now following you. </a>
		</md-list-item>
		<md-list-item>
			<a href="#" md-line> Enéas Carneiro has answered 6 new questions. </a>
		</md-list-item>
	</md-list>
</md-card>