<md-card *ngIf='user'>
	<md-card-title-group>
		<img id='avatar' md-card-sm-image src="client/assets/anyone.png">
		<md-card-title class='non-empty'> {{ user.displayName }} </md-card-title>
		<md-card-subtitle>
			<p class='non-empty'> {{ user.location }} </p>
			<div> {{ 'PROFILE.EDIT.INSTRUCTION' | translate }} </div>
		</md-card-subtitle>
	</md-card-title-group>

	<form [formGroup]='profileForm' (ngSubmit)='onSubmit()'>
		<md-card-content>
			
			<p><md-input type='text' id='name' formControlName='name' required
				placeholder="{{ 'PROFILE.EDIT.NAME' | translate }}">
				<md-hint [style.visibility]='showError("name")'>
					{{ 'APP.FORM.REQUIRED' | translate }}
				</md-hint>
			</md-input></p>

			<p><md-input type='text' id='nickname' formControlName='nickname' 
				placeholder="{{ 'PROFILE.EDIT.NICKNAME' | translate }}">
			</md-input></p>

			<p><md-input type='text' id='location' formControlName='location'
				required autocomplete='off'
				placeholder="{{ 'PROFILE.EDIT.LOCATION' | translate }}">
				<md-hint [style.visibility]='showError("location")'>
					{{ 'APP.FORM.REQUIRED' | translate }}
				</md-hint>
			</md-input></p>
			
			<md-nav-list dense *ngIf='locations'>
				<a md-list-item (click)="onChoose(location)" *ngFor='let location of locations'>
					{{ location }}
				</a>
			</md-nav-list>

		</md-card-content>

		<md-card-actions>
			<button type="submit" md-button [disabled]="!profileForm.valid">
				{{ 'APP.FORM.SAVE' | translate }}
			</button>

			<a md-button (click)='onCancel()'>
				{{ 'APP.FORM.CANCEL' | translate }}
			</a>
		</md-card-actions>
	</form>
</md-card>