<md-card *ngIf='user'>
	<md-card-title-group>
		<img id='avatar' md-card-sm-image src="client/assets/anyone.png">
		<md-card-title class='non-empty'> {{ user.displayName }} </md-card-title>
		<md-card-subtitle>
			<p class='non-empty'> {{ user.location }} </p>
			<div> {{ 'PROFILE.EDIT.INSTRUCTION' | translate }} </div>
		</md-card-subtitle>
	</md-card-title-group>

	<form (ngSubmit)='onSubmit()' #profileForm='ngForm'>
		<md-card-content>
			
			<p><md-input type='text' name='name' #name='ngModel' required 
				placeholder="{{ 'PROFILE.EDIT.NAME' | translate }}"
				[(ngModel)]='user.name'>
				<md-hint [style.visibility]='showError(name)'>
					{{ 'APP.FORM.REQUIRED' | translate }}
				</md-hint>
			</md-input></p>

			<p><md-input type='text' name='nickname' #nickname='ngModel' 
				placeholder="{{ 'PROFILE.EDIT.NICKNAME' | translate }}"
				[(ngModel)]='user.nickname'>
			</md-input></p>

			<p><md-input type='text' name='location' 
				placeholder="{{ 'PROFILE.EDIT.LOCATION' | translate }}"
				[(ngModel)]='user.location'></md-input></p>

		</md-card-content>

		<md-card-actions>
			<button type="submit" md-button [disabled]="!profileForm.form.valid">
				{{ 'PROFILE.EDIT.SAVE' | translate }}
			</button>

			<a md-button (click)='onCancel()'>
				{{ 'PROFILE.EDIT.CANCEL' | translate }}
			</a>
		</md-card-actions>
	</form>
</md-card>