<md-card>
	<md-card-subtitle>
		{{ 'QUESTION.BY' | translate }}
		<a routerLink='/user/{{question.author.username}}'> {{ question.author.name }} </a>
	</md-card-subtitle>
	<md-card-title> {{ question.title }} </md-card-title>

	<button id='card-btn' md-icon-button [md-menu-trigger-for]="menu">
		<md-icon>more_vert</md-icon>
	</button>
	<md-menu #menu="mdMenu" x-position='before'>
		<button md-menu-item> {{ 'QUESTION.EDIT' | translate }} </button>
		<button md-menu-item> {{ 'QUESTION.DELETE' | translate }} </button>
	</md-menu>

	<md-radio-group [(ngModel)]='answer'>
		<md-radio-button value="1"> {{ question.options[0] }} </md-radio-button>
		<md-radio-button value="2"> {{ question.options[1] }} </md-radio-button>
	</md-radio-group>

	<md-toolbar id="stats" *ngIf='answer'>
		<button md-button (click)='changeStats()'>
			{{ statsLabel | translate }}
		</button>
		<md-progress-bar value="{{ stats }}"> </md-progress-bar>
	</md-toolbar>

	<md-card-content class="opinion">
		<textarea placeholder="{{ 'QUESTION.OPINION' | translate }}" [disabled]='!answer'></textarea>
		<button md-button color='primary'> {{ skipAnswer | translate }} </button>
	</md-card-content>
</md-card>