<md-tab-group>
	<md-tab>
		<template md-tab-label> {{ 'PROFILE.NEWS.FEED' | translate }} </template>
		<template md-tab-content>
			<md-list dense>
				<a md-list-item *ngFor='let n of user.news'
					[routerLink]='["/profile", n.who._key]'
					[title]="n.when.toLocaleString(translate.currentLang)">
					{{ 'PROFILE.NEWS.' + n.action | translate: n }}
				</a>
			</md-list>
		</template>
	</md-tab>

	<md-tab>
		<template md-tab-label> {{ 'PROFILE.NEWS.ANSWERS' | translate }} </template>
		<template md-tab-content>
			<md-list dense>
				<a md-list-item *ngFor='let answer of user.myAnswers' 
					[routerLink]='["/qa/answer", answer._key]'
					[title]="answer.when.toLocaleString(translate.currentLang)">
					{{ answer.title }}
				</a>
			</md-list>
		</template>
	</md-tab>
</md-tab-group>

<button md-fab class='fab-button'
	[md-tooltip]="'PROFILE.FAB.EDIT' | translate"
	routerLink='/profile/edit'>
	<md-icon> edit </md-icon>
</button>
