<md-card-content>
	<p>
		<span [innerHtml]="user.affinity + '' | translate"></span>
		<!-- https://github.com/angular/material2/issues/1045 -->
		<a routerLink='/qa/answer' [md-tooltip]="'PROFILE.AFFINITY.TOOLTIP' | translate">{{
			'PROFILE.AFFINITY.VALUE' | translate:{value: user.affinity.answers}
		}}</a>.
	</p>
	<md-progress-bar value="{{ user.affinity.percent }}"> </md-progress-bar>
	<md-list dense>
		<h3 md-subheader> 👍 {{ 'PROFILE.AGREE' | translate }} </h3>
		<a md-list-item [routerLink]='["/qa/answer", answer._key]' *ngFor='let answer of user.agree'>
			{{ answer.title }}
		</a>
		<md-list-item  *ngIf='!user.agree.length'>
			<p> {{ 'PROFILE.NOTHING' | translate }} </p>
		</md-list-item>
		
		<h3 md-subheader> 👎 {{ 'PROFILE.DISAGREE' | translate }} </h3>
		<a md-list-item [routerLink]='["/qa/answer", answer._key]' *ngFor='let answer of user.disagree'>
			{{ answer.title }}
		</a>
		<md-list-item  *ngIf='!user.disagree.length'>
			<p> {{ 'PROFILE.NOTHING' | translate }} </p>
		</md-list-item>
	</md-list>
</md-card-content>

<a md-fab class='fab-button'
	routerLink='/qa/answer'
	[md-tooltip]="'PROFILE.FAB.ANSWER' | translate">
	<md-icon> thumbs_up_down </md-icon>
</a>